.custom-services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 50px 0;
  }
  .custom-services-container img{
    background: none;
  }
  .custom-service-section {
    background: linear-gradient(to bottom, #747cf2, #1c2c7a);
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    
  }

  .custom-heading-container h2 {
    font-size: 36px;
  }
  
  .custom-achievement-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    width: 80%;
    
  
 
  }
  
  .custom-achievement-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .custom-achievement-box h3 {
    color: rgb(230, 120, 18);
  }
  .custom-achievement-box p {
    color: black;
  }

  .custom-icon {
    font-size: 36px;
    color: #4caf50;
    margin-bottom: 10px;
  }
  
  .custom-btn-box {
    margin-top: 20px;
  
  }
  
  .custom-btn-box a {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .custom-btn-box a:hover {
    background-color: #5f3ab0;
  }
  
  @media (max-width: 768px) {
    .custom-achievement-box {
      padding: 15px;
      margin-bottom: 15px;
    }
    
    .custom-icon {
      font-size: 24px;
    }
    
    .custom-service-section {
      padding: 30px;
    }
  }
