/* login.css */

.login-container {
    width: 300px;
    height: 400px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Center the login container */
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(248, 248, 119);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  